body {
  background-color: rgb(77, 189, 77);
}

.container-random-cards {
  display: flex;
  overflow: auto;
}

.sorted-cards {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 3px;
  min-height: 200px;
  min-width: 140px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0;
}

.top-corner {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 50px;
}

.bottom-corner {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 50px;
}

.card-number {
  margin: auto;
  font-size: 50px;
}

.spade:after {
  content: "\2660";
}

.club:after {
  content: "\2663";
}

.diamond:after {
  content: "\2666";
  color: red;
}

.heart:after {
  content: "\2665";
  color: red;
}

.iteration .card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5px;
}

.iteration {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 7px;
}

.iteration:hover {
  background-color: rgba(77, 240, 2, 0.5);
}
